@tailwind base;
@tailwind components;
@tailwind utilities;

/* general */
section {
    @apply min-h-screen px-8 py-12 box-border bg-primary;
}
section:nth-child(odd) {
    @apply bg-secondary;
}

h2 {
    @apply text-center text-4xl font-bold;
    @apply mb-4;
}

/* navbar section */
.navbar-item {
    @apply 
        block py-2 px-2 text-gray-900 rounded 
        hover:bg-gray-100;
    
    @apply
        md:hover:bg-transparent md:hover:text-blue-700 md:px-4 md:py-2;
}
.navbar-item.selected {
    @apply text-white bg-blue-700 rounded;
}

/* about us */
#about-us p {
    @apply mb-4 text-lg first-letter:text-2xl first-letter:font-bold;
}

/* products */
#products .product-card {
    @apply max-w-sm max-h-full p-4;
    @apply bg-secondary border-2 border-gray-200 rounded-lg shadow-xl;
    @apply text-center;
}
#products .product-card h3 {
    @apply text-center text-2xl font-bold;
    @apply mb-0;
}
#products .product-card img {
    @apply rounded-t-lg max-h-full;
    @apply mb-2;
}
#products .product-card p {
    @apply font-normal text-gray-700;
}