@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html, body{
    height: 100vh;
}

body {
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: rgb(212, 203, 203);
    padding: 0;
    margin: 0;
}

section{
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 6%;
    padding-right: 6%;
}

.icon{
    width: 32px !important;
    height: 32px !important;
}

header {
    background: rgb(136, 70, 70);
    color: white;
    padding: 8px;
    min-height: 70px;
    border-bottom: black 4px solid;
}

header h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.obrazky {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
/* .box {
    background-color: rgb(161, 87, 87);
    text-align: center;
} */

#pozadie {
    min-height: 500px;
    background: url(../obrazky/skzpe.jpg) no-repeat 0px 0px ;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: none;
    text-decoration: bold;
}

#pozadie h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#textpozadie {
    padding-top: 33px;
}

#history {
    margin-left: 25px;
}

#pivnica {
    float: right;
    padding-bottom: 150px;
    padding-right: 15px;
}

#novy {
    margin: 40px;
}

#dva {
    margin-bottom: 80px;
}

/* main showcase */
#mainShowCase{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.showCaseItem{
    margin: 15px;
    width: 350px;
    text-align: center;
}

/* zabezpecenie footera na spodku stránky */
#pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#pageWrapper #pageBody{
    margin: 6px 0px;
    flex-grow: 1;
}

#pageWrapper footer {
    padding: 10px;
    color: white;
    background-color: rgb(136, 70, 70);
    text-align: center;
}

/* contact */
#contact{
    background-color: rgb(136, 70, 70);;
    text-align: center;
}

#contact h1{
    color: wheat;
    font-size: 2rem;
    margin: 0 0 6px 0;
}
#contact h2{
    margin: 0;
    color: rgb(204, 148, 103);
}
#contact h4{
    margin: 0 0 8px 0;
    color: rgb(204, 148, 103);
}
#contact .contact-photo{
    min-width: 200px;
    max-width: 300px;
 }

#contact .contact-card{
    min-width: 150px;
}

#contact .contact-card a{
    color: bisque;
}