{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <h1 class="pt-10 text-5xl text-center font-serif font-bold">
        Hello tailwind css!
    </h1>

{% endblock %}
