{% extends "admin\\taildmin_base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock javascripts %}

{% block body %}

<div class="flex flex-col items-center gap-4">
    {# inclucde revenue chart #}
    {% include 'admin/charts/chart_revenue.html.twig' %}
    
    {# render unpacked orders chart #}
    {{ render(controller('App\\Controller\\AdminController::chartUnpackedProducts')) }}
</div>
{% endblock body %}