{% extends "admin\\taildmin_base.html.twig" %}


{% block body %}
    <a href="{{ path('admin_products_index') }}">produky</a>

    <ul x-data="{ items: Array.from({ length: 10 }, (_, index) => index + 1) }">
        <template x-for="item in items" :key="item">
            <li x-text="item"></li>
        </template>
    </ul>
{% endblock body %}