:root{
    --main-color: #8E1B1C;
    --main-color-opacity: #8e1b1d9f;
    --main-color-lighter: #750303;
    --dark-color: #2B1112af;
    --light-color: #fbc75faf;
    --white-color: #F2EAB9;
}


html, body{
    padding: 0;
    margin: 0;
}





/*** COMPONENTS ***/


/* LINKS */
.link {
    padding: 8px;
}
.link a {
    color: inherit;
    margin: 6px 8px;

    text-decoration: underline;
}

.link:hover, link a:hover{
    cursor: pointer;
}