:root{
    --main-color: #8E1B1C;
    --main-color-lighter: #750303;
    --dark-color: #2B1112af;
    --light-color: #fbc75faf;
    --white-color: #F2EAB9;
}


html, body{
    padding: 0;
    margin: 0;
}





/*** COMPONENTS ***/


/* LINKS */
.link {
    padding: 8px;
}
.link a {
    color: black;
    margin: 6px 8px;
}