#header {
    grid-area: header;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;

    margin: 0;
    padding: 0.1em 1em;
    font-weight: bold;

    background: var(--secondary-color-50);

    height: 3rem;    
}

.logo{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;    
    background: var(--primary-color-75);
    color: white;
    opacity: 0.95;
    text-align: center;
    font-size: var(--step-0);
    line-height: 110%;
    
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border: .3rem solid var(--primary-color-75);
    border-radius: 50%;
}
.logo a{
    color: white;
    text-decoration: none;
}
.logo span{
    display: block;
    font-weight: bold;
}
.logo .icon{
    font-size: var(--step-4);
    margin-bottom: .5rem;
}

#navbar{
    height: 100%;
}

#desktop-navbar{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}