#header {
    grid-area: header;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;

    margin: 0;
    padding: 0.1em 1em;

    height: 5rem;

    font-size: 1.75em;
    font-weight: bold;
}
/* pripravene na to ked budem chceit dorabat aj menu */
#header::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;

    background: var(--main-color);
    opacity: 25%;
}

.logo{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;    
    background: var(--main-color);
    color: white;
    opacity: 0.95;
    text-align: center;
    font-size: 1.6rem;
    line-height: 110%;
    
    width: 8rem;
    height: 8rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border: .3rem solid var(--main-color-lighter);
    border-radius: 50%;
}
.logo a{
    color: white;
    text-decoration: none;
}
.logo span{
    display: block;
    font-weight: bold;
}
.logo .icon{
    font-size: 200%;
    margin-bottom: .5rem;
}

#navbar{
    height: 100%;
}

#desktop-navbar{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
}