#header {
    grid-area: header;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    
    height: 3rem;    
    margin: 0;
    padding: 0.1em 1em;
    font-weight: bold;
    
}

#header > #background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    
    background: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
}

#header > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 15;
    height: 100%;
}

.logo{
    display: flex;
    
    flex-direction: row;
    align-items: center;
    gap: .5em;

    z-index: 15;
    
    color: white;
    font-size: var(--step-1);
    text-align: center;
    text-decoration: none;
    line-height: 110%;
}
.logo a{
    color: white;
    text-decoration: none;
}
.logo span{
    display: block;
    font-weight: bold;
}
.logo .icon{
    font-size: var(--step-2);
    /* margin-bottom: .5rem; */
}

#navbar{
    z-index: 15;
}

#desktop-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    color: white;
    list-style: none;
}

#desktop-navbar a{
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    
    color: white;
    transition: 450ms;
    
}

#desktop-navbar .navbar-item.active a,
#desktop-navbar a:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
    
}

@media screen and (max-width: 600px) {
    #header > .container {
        justify-content: center;
    }

    #desktop-navbar {
        display: none;
    }
}
