#products{
    background: var(--secondary-color);

    text-align: center;
}
#products > div{
    display: flex;
    flex-direction: column;

}
#productList{
    flex-grow: 1;
}

.product-slider{
    /* height: 100%; */
}

.slider-item{
    width: 50%;
}

.productCard{
    width: fit-content;
    max-height: 70vh;

    margin: 1em auto;
    padding: 1.5em;

    background: var(--white-color);
    border-radius: 1rem;
    
    display: flex;
    flex-direction: column;
}

.productCard p{
    margin: 0;
}

.productCard img{
    height: min(45vh, 45vw);
    /* flex-grow: 1; */

    border-radius: 1rem;
    margin: auto;
}

.productCard .title{
    font-size: var(--step-1);
    font-weight: bold;

    margin: .5rem 0 0 0;
}

.productCard small{
    font-size: var(--step--1);
}

.productCard .price{
    width: fit-content;

    margin: 0.5rem auto 0 auto;
    padding: 0.5rem;

    font-size: var(--step-0);
    font-style: italic;

    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

@media screen and (max-width: 1000px) {
    .productCard img{
        height: auto;
        max-width: 50vw;
    }
}