propel:
  paths:
      schemaDir: ./config/propel
      outputDir: ./config/propel/output
      phpConfDir: ./config/propel/generated-conf
      migrationDir: ./config/propel/migrations
      sqlDir: ./config/propel/generated-sql
      phpDir: ./src/Model
  database:
      connections:
          custom_database_name:
              adapter: mysql
              classname: Propel\Runtime\Connection\ConnectionWrapper
              dsn: "mysql:host=localhost;dbname=custom_database_name"
              user: root
              password: 
  runtime:
      defaultConnection: custom_database_name
      connections:
          - custom_database_name
  generator:
      defaultConnection: custom_database_name
      connections:
          - custom_database_name
      namespaceAutoPackage: false
      objectModel:
          # classPrefix: BaseClassPrefixKostor