propel:
  paths:
    schemaDir: ./config/propel
    outputDir: ./config/propel/output
    phpConfDir: ./config/propel/generated-conf
    migrationDir: ./config/propel/migrations
    sqlDir: ./config/propel/generated-sql
    phpDir: ./src/Model
  database:
    connections:
      connection_1:
        adapter: mysql
        classname: Propel\Runtime\Connection\ConnectionWrapper
        dsn: "mysql:host=localhost;dbname=vino_kostor_dev"
        user: root
        password: 
  runtime:
    defaultConnection: connection_1
    connections:
      - connection_1
  generator:
    defaultConnection: connection_1
    connections:
      - connection_1
    namespaceAutoPackage: false
    objectModel:
      # classPrefix: MyPrefix